/*********************************
 Top Page
**********************************/
@use "../modules" as m;

/* Banner */

.typing {
  display: inline-flex; 
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  padding: 0; 
  animation: typing 2s steps(60, end) forwards;
}

@keyframes typing {
  from { width: 0; }
  to{ width: 100%; }
}



.top-bnr{
  &__wrap{
    // padding-top: m.percentVal(150,1240);
    padding-top:150px;
    @include m.mqMax{
      padding-top: 100px;
    }
  }
  &__ttl{
    font-size: 4.8rem;
    font-weight: 700;
    font-family: m.$font-roboto-serif;
    text-align: center;
    line-height: 2;
    @include m.mqMax{
      font-size: 3.5rem;
    }
    @include m.mqMax(576px){
      font-size: 1.8rem;
      // text-align: unset;
      line-height: unset;
    }
  }
  &__slash{
    color: m.$red;
    position: relative;
    display: inline-block;
    text-align: left;
    &::before{
      content: '';
      position: absolute;
      bottom:0;
      left: 0;
      width: 340px;
      height: 18px;
      z-index: -1;
      background: url('../images/top/top-bnr_slash-02.png') no-repeat center / contain;
    }
    &--02{
      &::before{
        left: 30px;
        width: 355px;
      }
    }
    @include m.mqMax{
      &::before{
        width: 220px;
      }
      &--02{
        &::before{
          width: 240px;
        }
      }
    }
    @include m.mqMax(689px){
      &::before{
        display: none;
      }
    }
  }

  &__txt{
    color: m.$gray;
    text-align: center;
    margin-top: 30px;

    @include m.mqMax(576px){
      font-size: 1.4rem;  
      margin-top: 20px;
    }
  }
 
}

.top-talk{
  
  .list-talk__wrap{
    &::after{
      bottom: -80px;
      filter: blur(500px);
    }
  }
}

.top-do{
  padding-block: 0 80px;

  @include m.mqMax(576px){
    padding-block: 0 30px;
  }
}

.top-website{
  background-color: rgba(m.$white02, .55);
  padding: 60px 0;
  .txt-01--02{
    margin-top: 10px;
  }
  @include m.mqMax(576px){
    padding-block: 0 20px;
  }
  &__info{
    @include m.flex($gap:75px,$ai:center);
    @include m.mqMax{
      flex-wrap: wrap;
      gap: unset;
      justify-content: center;
    }
  }
  &__img{
    width: 100%;
    max-width: 360px;
  }

  &__wrap{
    width: 100%;
    max-width: 600px;
  }
}

.top-blog{
  .btn{
    margin-top: 80px;
  }
  @include m.mqMax(576px){
    .list-ttl{
      font-size: 1.6rem;
    }
    .btn{
      margin-top: 40px;
    }
  }
  
}

.top-works{
  &__swiper-img{
    height: 450px;
    width: 600px;
   
  }
  .swiper{
    margin-top: 50px;
  }
  .swiper-slide{
    height: 450px !important;
    width: 600px !important;
    border-radius: 8px;
  }


}

.top-letter{
  position: relative;
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(217, 217, 217, 0.1); 
    backdrop-filter: blur(5px); 
    -webkit-backdrop-filter: blur(5px); 
    box-shadow:
      inset 31.7px -31.7px 31.7px rgba(165, 165, 165, 0.1),
      inset -31.7px 31.7px 31.7px rgba(255, 255, 255, 0.1);
  }
  &__info{
    padding-inline: 10px;
    position: relative;
    z-index: 2;
  }
  &__bg-img{
    position: absolute;
    z-index:-1;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  &__ttl{
    color: m.$white;
    font-weight: 600;
    font-family: m.$font-roboto-serif;
    font-size: 3rem;
    text-align: center;
    @include m.mqMax(576px){
      font-size: 2.8rem;
    }

  }
  &__txt{
    color: m.$white;
    font-size: 2rem;
    text-align: center;
    line-height: 1.4;
    padding-top: 20px;
    opacity: .8;
    @include m.mqMax(576px){
      font-size: 1.6rem;
    }
  }
  &__wrap-02{
    margin-top: 55px;
  }
  // &__form{
  //   margin-top: 30px;
  //   @include m.flex($ai:flex-start, $jc:center);
  //   // text-align: center;
  // }
  // &__input{
  //   font-size: 2rem;
  //   background-color: #D9D9D9;
  //   padding:15px 20px;
  //   border: none;
  //   width: 100%;
  //   max-width: 500px;
  //   // margin: 0 auto;
  // }
  // &__btn{
  //   background-color: m.$red;
  //   color: m.$white;
  //   font-size: 2rem;
  //   border: none;
  //   height: 53px;
  //   cursor: pointer;
  // }

  .btn__link{
    max-width: 260px;
    &:hover{
      background-color: m.$white;
    }
  }
}