@use "variables" as v;

@mixin flex($inline: false, $fd: row, $gap: 0, $fw: nowrap, $ai: stretch, $jc: stretch) {
  @if $inline {
    display: inline-flex;
  } @else {
    display: flex;
  }

  @if $fd != row {
    flex-direction: $fd;
  }

  @if $fw == wrap {
    flex-wrap: wrap;
  }

  align-items: $ai;
  justify-content: $jc;
  
  @if $gap != 0 {
    gap: $gap;
  }
}

@mixin grid($gtr: false, $gtc: false, $gar: false, $gac: false, $gaf: row, $gap: 0, $ji: stretch, $ai: stretch, $jc: stretch, $ac: stretch) {
  display: grid;
  @if $gtr {
    grid-template-rows: $gtr;
  }

  @if $gtc {
    grid-template-columns: $gtc;
  }

  @if $gar {
    grid-auto-rows: $gar;
  }

  @if $gac {
    grid-auto-columns: $gac;
  }

  @if $gaf != row {
    grid-auto-flow: $gaf;
  }

  justify-items: $ji;
  align-items: $ai;
  justify-content: $jc;
  align-content: $ac;
  
  @if $gap != 0 {
    gap: $gap;
  }
}

@mixin mqMax($maxW: v.$default-mqMax-width) {
  @media only screen and (max-width: $maxW) {
    @content;
  }
}

@mixin mqMin($minW: v.$default-mqMin-width) {
  @media only screen and (min-width: $minW) {
    @content;
  }
}

@mixin mqMinMax($minW: v.$default-mqMinMax-min-width, $maxW: v.$default-mqMinMax-max-width) {
  @media only screen and (min-width: $minW) and (max-width: $maxW) {
    @content;
  }
}

@mixin transition($properties...) {
  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition-property: $properties;
}

// * hack IE
$hack-ie11: "*::-ms-backdrop";
@mixin hack-ie($hack-ver:'') {
    // * IE8 hack
  @if $hack-ver == "ie8" {
    @media \0screen {
      @content;
    }
  }
  // * IE9-10 hack(add propary \9)
  @else if $hack-ver == "ie9-10" {
    @media all and (min-width:0\0) {
      @content;
    }
  }
  // * IE10 hack(add propary \9)
  @else if $hack-ver == "ie10" {
    @media all and (-ms-high-contrast:none\0) {
      @content;
    }
  }
  // * IE11 hack(add selector *::-ms-backdrop)
  @else if $hack-ver == "ie11" {
    @media all and (-ms-high-contrast:none\0) {
      @content;
    }
  }
}
// * hack Edge 12 - 14
@mixin hack-edge {
  @supports (-ms-ime-align: auto) and (not (-webkit-text-stroke: initial)) {
    @content;
  }
}