// Colors
$white: #fff;
$black: #000;
$blue: #2372B0;
$gray: #717171;
$green: #53BCA3;
$red: #E4634F;
$yellow: #FFE492;

$white02:#F5F7FA;
$blue02:#2E4E73;
$blue03:#172B4D;
$red02:#CD270D;
$gray02:#EAEAEA;
$gray03:#455A64;
$gray04:#6D758F;

$default-font-weight: 400;
$default-font-size: 1.6rem;

$font-inter: "Inter", serif;
$font-inria-serif: "Inria Serif", serif;
$font-roboto-serif: "Roboto Serif", serif;

$font-primary: $font-inter;

$default-mqMax-width: 991px;
$default-mqMin-width: 992px;
$default-mqMinMax-min-width: 992px;
$default-mqMinMax-max-width: 1920px;