/*********************************
 Images
**********************************/
@use "../modules" as m;

/* Image */
.img {
  position: relative;
  background: m.$gray;
  overflow: hidden;
  z-index: 0;

  &--bleed {
    overflow: visible;
  }

  &__main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
}

/* Background Image */
.bg {
  &-img {
    @extend .img;
  
    &__main {
      @extend .img__main;
    }
  }
}